body {
  font-family: "Open Sans", serif;
  background-color: #fff6f6;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), 
  url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/156/262/original/hobbiton-photo.jpg?1738371208");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  color: #f8f9fa;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  font-family: "Montserrat", serif;
  color: #f8f9fa;
  text-shadow: 2px 2px 4px #000000;    
}

header h3 {
  letter-spacing: 4px;
  font-size: 25px;
  color: #f8f9fa;
}

header a {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  padding: 16px 32px;
  text-decoration: none;
}

main {
  background-color: rgb(216, 237, 240, 0.9);
}

main h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #272044;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;    
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.img-responsive {
    width: 100%;
}