body {
  font-family: "Open Sans", serif;
  background-color: #fff6f6;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), 
  url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/156/262/original/hobbiton-photo.jpg?1738371208");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
  color: #f8f9fa;
  text-align: center;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  font-family: "Montserrat", serif;
  color: #f8f9fa;
  text-shadow: 2px 2px 4px #000000;    
}

header h3 {
  letter-spacing: 4px;
  font-size: 25px;
  color: #f8f9fa;
}

header a {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  padding: 16px 32px;
  text-decoration: none;
}

main {
  background-color: rgb(216, 237, 240, 0.9);
}

main h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #272044;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;    
}

section.secondary {
  background-color: aliceblue;
}

section.carousel-slides {
  background-color: #f8f9fa;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  width: 100%;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-header {
  padding: 0;
}

.card-body {
  padding: 30px;
  background-color: #f8f9fa;
}

.btn-primary {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  padding: 16px;
  background-color: #00827f;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.btn-primary:hover {
  background-color: #48d1cc;
}

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.carousel-image:hover {
  transform: scale(1.1);
}

.carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;  
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  /*height: 100%;
  transition: transform 250ms ease-in; */
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
}

.carousel-button i {
  width: 12px;
  cursor: pointer;
}

.carousel-button--left {
  left: -40px;
}

.carousel-button--right {
  right: -40px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
}

.carousel-indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden { display: none; }






